.container {
    padding: 20px 50px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.form-control {
    border: none;
    border-bottom: 1px solid black;
}

.form-control:focus {
    background-color: lightblue;
}

.error-message {
    color: red;
    font-size: 12px;
    text-align: center;
}

.anchor-btn{
    cursor: pointer ;
    border: none;
}


